<div class="container-fluid" style="font-size: small;">
    <div class="mx-auto">
        <div class="col-sm-12 p-0 mat-elevation-z8 mb-1">
            <div class="card-header text-white bg-dark font-weight-bold">
                <span> DOWNLOAD STATIC FILES </span>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 pb-2 mx-2">
                <div class="row col-sm-12 col-md-12 col-lg-12">
                    <div class="col-sm-4 col-md-4 col-lg-4 my-2">
                        <mat-card class="mat-elevation-z8" (click)="downloadFile('final110e430e')"
                            style="cursor: pointer;">
                            <mat-card-content>
                                <i class="material-icons p-2" style="font-size:50px">work_outline</i><span>Final 110E &
                                    430E</span>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 my-2">
                        <mat-card class="mat-elevation-z8" (click)="downloadFile('final530e')" style="cursor: pointer;">
                            <mat-card-content><i class="material-icons p-2"
                                    style="font-size:50px">work_outline</i><span>Final
                                    530E</span>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 my-2">
                        <mat-card (click)="downloadFile('finalPrediction')" class="mat-elevation-z8"
                            style="cursor: pointer;">
                            <mat-card-content><i class="material-icons p-2"
                                    style="font-size:50px">verified_user</i><span>Final
                                    Prediction</span>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <div class="row col-sm-12 col-md-12 col-lg-12">
                    <div class="col-sm-4 col-md-4 col-lg-4 my-2">
                        <mat-card class="mat-elevation-z8" (click)="downloadFile('LeadTimeCategoryPrice')"
                            style="cursor: pointer;">
                            <mat-card-content><i class="material-icons p-2"
                                    style="font-size:50px">access_time</i><label><span>Lead Time &
                                        Category</span></label>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 my-2">
                        <mat-card class="mat-elevation-z8" (click)="downloadFile('option110')" style="cursor: pointer;">
                            <mat-card-content><i class="material-icons p-2"
                                    style="font-size:50px">playlist_add_check</i><label><span>Option
                                        110</span></label>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 my-2">
                        <mat-card class="mat-elevation-z8" (click)="downloadFile('option530')" style="cursor: pointer;">
                            <mat-card-content><i class="material-icons p-2"
                                    style="font-size:50px">playlist_add_check</i><label><span>Option
                                        530</span></label>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <div class="row col-sm-12 col-md-12 col-lg-12">
                    <div class="col-sm-4 col-md-4 col-lg-4 my-2">
                        <mat-card class="mat-elevation-z8" (click)="downloadFile('thresholdQty')"
                            style="cursor: pointer;">
                            <mat-card-content><i class="material-icons p-2"
                                    style="font-size:50px">notification_important</i><label><span>Threshold
                                        Quantity</span></label>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 my-2">
                        <mat-card class="mat-elevation-z8" (click)="downloadFile('unwanted')" style="cursor: pointer;">
                            <mat-card-content><i class="material-icons p-2"
                                    style="font-size:50px">bug_report</i><label><span>Unwanted
                                        Parts</span></label>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 my-2">
                        <mat-card class="mat-elevation-z8" (click)="downloadFile('growthRate')"
                            style="cursor: pointer;">
                            <mat-card-content><i class="material-icons p-2"
                                    style="font-size:50px">euro_symbol</i><label><span>Growth Rate
                                        Parts</span></label>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <div class="row col-sm-12 col-md-12 col-lg-12">
                    <div class="col-sm-4 col-md-4 col-lg-4 my-2">
                        <mat-card class="mat-elevation-z8" (click)="downloadFile('customerWiseData')"
                            style="cursor: pointer;">
                            <mat-card-content><i class="material-icons p-2"
                                    style="font-size:50px">people_outline</i><label><span>Customer Wise Data
                                        Parts</span></label>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 my-2">
                        <mat-card class="mat-elevation-z8" (click)="downloadFile('industryWiseData')"
                            style="cursor: pointer;">
                            <mat-card-content><i class="material-icons p-2"
                                    style="font-size:50px">home_work</i><label><span>
                                        Insustrywise Output</span></label>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>