<div class="container-fluid mt-2" style="font-size: small;">
    <div class="col-12">
        <!--------------- graph------------------->
        <div class="row">
            <div class="col-12 mat-elevation-z8 mt-3">
                <div class="text-center">
                    <canvas style="margin-bottom: 20px;" id="inventoryGraph"></canvas>
                    <span *ngIf="loadingChart" class="spinner spinner-border spinner-border-sm mr-1"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mat-elevation-z8 mt-3">
                <div class="text-center">
                    <canvas style="margin-bottom: 20px;" id="CpaStockBarChart"></canvas>
                    <span *ngIf="loadingChart" class="spinner spinner-border spinner-border-sm mr-1"></span>
                </div>
            </div>
        </div>
        <!--------------------row------------------->
        <!--------------------alertTable------------------->
        <div class="row mt-5 col-12">
            <div class="col-4 mat-elevation-z8 p-0 mr-5">
                <table class="table table-hover table-bordered mb-2">
                    <thead class="thead-dark">
                        <tr>
                            <th>Part No:</th>
                            <th>Alert</th>
                        </tr>
                    </thead>
                    <tbody>
                        <span *ngIf="loading" class="spinner spinner-border spinner-border-sm mr-1 p-2"></span>
                        <tr *ngFor="let a of data | paginate : { id:'alert', itemsPerPage: 10, currentPage: p }">
                            <td>{{ a.partNo }}</td>
                            <td>{{ a.alert }}</td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls id="alert" (pageChange)="p = $event"></pagination-controls>
            </div>
            <!--------------------alertTable------------------->

            <!--------------------Kanban Table------------------->
            <div class="col-6 mat-elevation-z8 p-0 ml-3">
                <table class="table table-hover">
                    <thead class="thead-dark" style="display: table;width: 100%;">
                        <tr>
                            <th style="width: 90px;">PART NO.</th>
                            <th>NO. OF KANBAN</th>
                        </tr>
                    </thead>
                    <tbody class="scroll table-sm">
                        <span *ngIf="loadingKanban" class="spinner spinner-border spinner-border-sm mr-1"></span>

                        <tr
                            *ngFor="let a of kanbanData | keyvalue | paginate : { itemsPerPage: 6 , id:'kanban',currentPage: kanbanPg }">
                            <td>
                                {{a.key}}
                            </td>
                            <td>
                                <tr>
                                    <td>Dropped</td>
                                    <td>
                                        <span *ngFor="let item of [].constructor(a.value[1]); let i = index"
                                            matTooltip="Droped: {{a.value[1]}}">
                                                <i class="material-icons" style="color:#e32249;">bookmark</i>                                                
                                            <ng-template #breakcard></ng-template>
                                        </span>
                                        
                                        <span *ngFor="let item of [].constructor(a.value[0]); let i = index"
                                            matTooltip="Stock: {{a.value[0]}}">
                                            <i class="material-icons" style="color:#2c7873;">bookmark</i>
                                        </span>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Ordered</td>
                                    <td class="col-sm-12">
                                        <span *ngFor="let item of [].constructor(a.value[2]); let i = index"
                                            matTooltip="Ordered: {{a.value[2]}}">
                                            <i class="material-icons" style="color:#21bf73;">bookmark</i>
                                        </span>
                                    </td>
                                </tr>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls id="kanban" (pageChange)="kanbanPg = $event"></pagination-controls>
            </div>
        </div>
    </div><br><br>
</div>