<div class="container-fluid" style="font-size: small;">
    <div class="mx-auto col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="col-sm-12 p-0 mat-elevation-z8 mb-5">
            <div class="card-header text-white bg-dark font-weight-bold">
                <span> STATIC FILE UPLOAD </span>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 pb-3">
                <form [formGroup]="staticFiles" enctype="multipart/form-data">
                    <div class="row col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="col-sm-3 col-md-3 col-lg-3 p-1 my-3">
                            <mat-card class="mat-elevation-z8">
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" accept=".csv" class="custom-file-input"
                                            name="LeadTimeCategoryPrice"
                                            (change)="OnFileSelect($event, 'LeadTimeCategoryPrice')">
                                        <label class="custom-file-label">Lead Time & Category</label>
                                    </div>
                                </div>
                                <span class="badge badge-light font-weight-light text-center pt-2">
                                    Last uploaded on {{ dates?.LeadTimeCategoryPrice | json}}
                                </span>
                            </mat-card>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 p-1 my-3">
                            <mat-card class="mat-elevation-z8">
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" accept=".csv" class="custom-file-input" name="final110e430e"
                                            (change)="OnFileSelect($event, 'final110e430e')">
                                        <label class="custom-file-label">FEO 110E & 430E</label>
                                    </div>
                                </div>
                                <span class="badge badge-light font-weight-light text-center pt-2">
                                    Last uploaded on {{ dates?.final110e430e | json}}
                                </span>
                            </mat-card>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 p-1 my-3">
                            <mat-card class="mat-elevation-z8">
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" accept=".csv" class="custom-file-input" name="final530e"
                                            (change)="OnFileSelect($event, 'final530e')">
                                        <label class="custom-file-label">FEO 530E</label>
                                    </div>
                                </div>
                                <span class="badge badge-light font-weight-light text-center pt-2">
                                    Last uploaded on {{ dates?.final530e | json}}
                                </span>
                            </mat-card>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 p-1 my-3">
                            <mat-card class="mat-elevation-z8">
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" accept=".csv" class="custom-file-input"
                                            name="finalPrediction" (change)="OnFileSelect($event, 'finalPrediction')">
                                        <label class="custom-file-label">Final Prediction</label>
                                    </div>
                                </div>
                                <span class="badge badge-light font-weight-light text-center pt-2">
                                    Last uploaded on {{ dates?.finalPrediction | json}}
                                </span>
                            </mat-card>
                        </div>
                    </div>

                    <!-- ------------------- row -------------------- -->

                    <div class="row col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="col-sm-3 col-md-3 col-lg-3 p-1 my-3">
                            <mat-card class="mat-elevation-z8">
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" accept=".csv" class="custom-file-input" name="option110"
                                            (change)="OnFileSelect($event, 'option110')">
                                        <label class="custom-file-label">Option 110E & 430E</label>
                                    </div>
                                </div>
                                <span class="badge badge-light font-weight-light text-center pt-2">
                                    Last uploaded on {{ dates?.option110 | json}}
                                </span>
                            </mat-card>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 p-1 my-3">
                            <mat-card class="mat-elevation-z8">
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" accept=".csv" class="custom-file-input" name="option530"
                                            (change)="OnFileSelect($event, 'option530')">
                                        <label class="custom-file-label">Option 530E</label>
                                    </div>
                                </div>
                                <span class="badge badge-light font-weight-light text-center pt-2">
                                    Last uploaded on {{ dates?.option530 | json}}
                                </span>
                            </mat-card>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 p-1 my-3">
                            <mat-card class="mat-elevation-z8">
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" accept=".xlsx, .xlx" class="custom-file-input"
                                            name="thresholdQty" (change)="OnFileSelect($event, 'thresholdQty')">
                                        <label class="custom-file-label">Threshold Quantity</label>
                                    </div>
                                </div>
                                <span class="badge badge-light font-weight-light text-center pt-2">
                                    Last uploaded on {{ dates?.thresholdQty | json}}
                                </span>
                            </mat-card>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 p-1 my-3">
                            <mat-card class="mat-elevation-z8">
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" accept=".csv" class="custom-file-input" name="unwanted"
                                            (change)="OnFileSelect($event, 'unwanted')">
                                        <label class="custom-file-label">Unwanted</label>
                                    </div>
                                </div>
                                <span class="badge badge-light font-weight-light text-center pt-2">
                                    Last uploaded on {{ dates?.unwanted | json}}
                                </span>
                            </mat-card>
                        </div>
                    </div>
                     <!-- ------------------- row -------------------- -->

                     <div class="row col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="col-sm-3 col-md-3 col-lg-3 p-1 my-3">
                            <mat-card class="mat-elevation-z8">
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" accept=".xlsx, .xlx" class="custom-file-input" name="Forcast_Template"
                                            (change)="OnFileSelect($event, 'Forcast_Template')">
                                        <label class="custom-file-label">Forecast Template</label>
                                    </div>
                                </div>
                                <span class="badge badge-light font-weight-light text-center pt-2">
                                    Last uploaded on {{ dates?.Forcast_Template | json}}
                                </span>
                            </mat-card>
                        </div>
                        
                    </div>
                </form>
                <div class="row p-2 justify-content-center">
                    <button mat-raised-button class="col-sm-3 btn btn-secondary mb-2"
                        (click)="confirmDialog('staticfile')">UPLOAD</button>
                </div>

                <!-- ------------ row --------------------- -->
                <div class="row col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="mat-subheading-2">INDUSTRY WISE DATA</div>
                </div>
                <!-- ------------ row --------------------- -->

                <form [formGroup]="industry" enctype="multipart/form-data">
                    <div class="row col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="col-sm-3 col-md-3 col-lg-3 p-1 my-1">
                            <mat-card class="mat-elevation-z8">
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" accept=".xlsx, .xlx" class="custom-file-input"
                                            name="growthRate" (change)="OnFileSelectIndustry($event, 'growthRate')">
                                        <label class="custom-file-label">Growth Rate</label>
                                    </div>
                                </div>
                                <span class="badge badge-light font-weight-light text-center pt-2">
                                    Last uploaded on {{ dates?.growthRate | json}}
                                </span>
                            </mat-card>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 p-1 my-1">
                            <mat-card class="mat-elevation-z8">
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" accept=".xlsx, .xlx" class="custom-file-input"
                                            name="customerWiseData" (change)="OnFileSelectIndustry($event, 'customerWiseData')">
                                        <label class="custom-file-label">Customer Wise Data</label>
                                    </div>
                                </div>
                                <span class="badge badge-light font-weight-light text-center pt-2">
                                    Last uploaded on {{ dates?.customerWiseData | json}}
                                </span>
                            </mat-card>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 p-1 my-1">
                            <mat-card class="mat-elevation-z8">
                                <mat-form-field [style.fontSize]="'13.5px'">
                                    <input type="number" matInput placeholder="Consumed Quantity"
                                        formControlName="consumedQty" value="{{ quantity?.consumedQty }}"
                                        id="consumedQty">
                                </mat-form-field>
                            </mat-card>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 p-1 my-1">
                            <mat-card class="mat-elevation-z8">
                                <mat-form-field [style.fontSize]="'13.5px'">
                                    <input type="number" matInput placeholder="projected Quantity"
                                        formControlName="projectedQty" value="{{ quantity?.projectedQty }}"
                                        id="projectedQty">
                                </mat-form-field>
                            </mat-card>
                        </div>
                    </div>
                </form>
                <div class="row p-2 justify-content-center">
                    <button mat-raised-button class="col-sm-3 btn btn-secondary mb-2"
                        (click)="confirmDialog('industry')">UPLOAD</button>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner style="opacity: 9;" bdColor="rgba(90, 107, 109, 0.18)" size="medium" color="#efff00"
    type="square-jelly-box" [fullScreen]="true">
    <p style="color: Black;font-family: 'Lato', sans-serif;"> Sit Tight . . . <br>This may take time, longer than usual .</p>
</ngx-spinner>